@tailwind base;
@tailwind components;
@tailwind utilities;

/* Windowsでのフォントジャギー対策 */
a,
p,
input,
select,
label,
span {
  transform: rotate(0.05deg);
}

/* 選択範囲の色 */
::selection,
::-moz-selection {
  background: #ff74b8;
  color: #fff;
}
